force-app/main/default/flows/Mini_Postman.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Callout</name>
        <label>Callout</label>
        <locationX>656</locationX>
        <locationY>202</locationY>
        <actionName>InvocableCallout</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Mini_Postman_Response</targetReference>
        </connector>
        <inputParameters>
            <name>Body</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>BodyAsBlob</name>
            <value>
                <elementReference>Request_Body_as_Blob</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Compressed_gzip</name>
            <value>
                <elementReference>Compress_Request_Body_to_gzip</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Endpoint</name>
            <value>
                <elementReference>Request_URL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Headers</name>
            <value>
                <elementReference>Headers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Method</name>
            <value>
                <elementReference>Method</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Timeout</name>
            <value>
                <elementReference>Timeout_in_ms</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>CONNECT</name>
        <choiceText>CONNECT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CONNECT</stringValue>
        </value>
    </choices>
    <choices>
        <name>DELETE</name>
        <choiceText>DELETE</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>GET</name>
        <choiceText>GET</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GET</stringValue>
        </value>
    </choices>
    <choices>
        <name>HEAD</name>
        <choiceText>HEAD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HEAD</stringValue>
        </value>
    </choices>
    <choices>
        <name>OPTIONS</name>
        <choiceText>OPTIONS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OPTIONS</stringValue>
        </value>
    </choices>
    <choices>
        <name>PATCH</name>
        <choiceText>PATCH</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>POST</name>
        <choiceText>POST</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>POST</stringValue>
        </value>
    </choices>
    <choices>
        <name>PUT</name>
        <choiceText>PUT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PUT</stringValue>
        </value>
    </choices>
    <choices>
        <name>TRACE</name>
        <choiceText>TRACE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TRACE</stringValue>
        </value>
    </choices>
    <interviewLabel>Mini Postman {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mini Postman</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Mini_Postman_Request</name>
        <label>Mini Postman Request</label>
        <locationX>462</locationX>
        <locationY>202</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Callout</targetReference>
        </connector>
        <fields>
            <name>Method</name>
            <choiceReferences>GET</choiceReferences>
            <choiceReferences>POST</choiceReferences>
            <choiceReferences>PATCH</choiceReferences>
            <choiceReferences>PUT</choiceReferences>
            <choiceReferences>DELETE</choiceReferences>
            <choiceReferences>TRACE</choiceReferences>
            <choiceReferences>CONNECT</choiceReferences>
            <choiceReferences>HEAD</choiceReferences>
            <choiceReferences>OPTIONS</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>GET</defaultSelectedChoiceReference>
            <fieldText>Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_URL</name>
            <dataType>String</dataType>
            <fieldText>Request URL</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Request URL (and Query String).&lt;/p&gt;&lt;p&gt;If you use Named Credential : callout:My_Named_Credential/some_path?some_query&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Timeout_in_ms</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>10000.0</numberValue>
            </defaultValue>
            <fieldText>Timeout in ms</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Headers</name>
            <defaultValue>
                <stringValue>[
{&quot;key&quot;:&quot;Content-Type&quot;,&quot;value&quot;:&quot;application/json&quot;},
{&quot;key&quot;:&quot;Accept&quot;,&quot;value&quot;:&quot;*/*&quot;}
]</stringValue>
            </defaultValue>
            <fieldText>Headers</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;List of header in list format: &lt;/p&gt;&lt;p&gt;[&lt;/p&gt;&lt;p&gt;{&quot;key&quot;:&quot;some-key1&quot;,&quot;value&quot;:&quot;some-value1&quot;},&lt;/p&gt;&lt;p&gt;{&quot;key&quot;:&quot;some-key2&quot;,&quot;value&quot;:&quot;some-value2&quot;}&lt;/p&gt;&lt;p&gt;]&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Body</name>
            <fieldText>Body</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayOptionalConfigs</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Optional Configurations&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Compress_Request_Body_to_gzip</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Compress Request Body to gzip?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_Body_as_Blob</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Request Body as Blob?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mini_Postman_Response</name>
        <label>Mini Postman Response</label>
        <locationX>558</locationX>
        <locationY>437</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Mini_Postman_Request</targetReference>
        </connector>
        <fields>
            <name>Request</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Summarized Request:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Method : &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Method}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;URL : &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Request_URL}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Timeout :&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Timeout_in_ms}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Optional Configurations:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Compress Request Body to gzip? =&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Compress_Request_Body_to_gzip}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Request Body as Blob? = &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Request_Body_as_Blob}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Headers :&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Headers}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Body :&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Body}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Response</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Response:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Error :&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; {!Callout.Error_message}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Status :&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Callout.Status}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Status Code :&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Callout.Status_code}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Headers :&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Callout.CollectionOfHeaders}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Body :&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Callout.Body}&lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>44</locationX>
        <locationY>183</locationY>
        <connector>
            <targetReference>Mini_Postman_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
